body {
	background: #000;
}

.white {
	color: #fff;
}

#main {
	width: 680px;
	background: #fff;
	margin: 0 auto;
	
}

#header {
	background: url("images/waves.jpg");
	border: solid #fff 3px;
	padding: 5px 5px 5px 5px;
}

menu{
	color: #000;
}